.btn-register {
	border-radius: 0;
	background: red;
	font-size: 50px;
	color: #fff;
	background: #DF343B;
	font-family: 'Montserrat', sans-serif;
}

.btn-register.contrast {
	margin-top: 80px;
	background: #DF343B;
}

/*
.btn-register:after {
  content: 'Sold out!';
  display: block;
  background: blue;
  color: #fff;
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 125px;
  left: 47px;
  line-height: 90px;
  transform: rotate(-25deg);

}
*/

.btn-register:hover {
	background: #A93B39;
	color: #EFEFEF;
};