.btn-register {
	border-radius: 0;
	background: red;
	font-size: 50px;
	color: #fff;
	background: #E5514D;
	font-family: 'Montserrat', sans-serif;
}

.btn-register:hover {
	background: #A93B39;
	color: #EFEFEF;
};