html, body {
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: url(/images/triangles.gif);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	//font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

a {
	color: #fff;
}
.contact-form a {
	color: #000;
}