.jumbo {
	background: url(/images/fun.png);
	width: 100%;
	height: 600px;
	background-size: 100% auto;
	max-height: 460px;
	overflow: hidden;
	margin-top: -50px;
}

.logo {
	background: url(/images/logo.png);
	height: 232px;
	width: 300px;
	margin: auto;
	background-size: 300px 300px;
	margin-top: 120px;
}


.header {
	.inner {
		margin-bottom: 30px;
	}
	background: #47B1CD;
	color: #fff;
	text-transform: uppercase;
	font-family: courier;
}

.menu {
	font-size: 19px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	li.home a {
		color: #FE5D81;
	}
	li.apply a {
		color: #00629C;
	}
	li.venue a {
		color: #00B0A7;
	}
	li.twitter a {
		color: #00BAFF;
	}
	li.blog a {
		color: #EF474E;
	}
	li.contact a {
		color: #D7A01E;
	}
}

.title {
	margin: 100px 0 40px 0;
}

.title-container {
	background: #fff;
}

.content {
	padding: 90px 0;
}

.top {
	background: #E86F69;
	padding: 80px 0;
	color: #fff;
}

.middle {
	background: #E86F69;
	color: #fff;
}

.lower {
	background: #15BBB1;
	color: #fff;
}

.bottom-banner {
	height: 120px;
	background: #FDD16F;
}