.jumbo {
	background: url(/images/fun.png);
	width: 100%;
	height: 600px;
	background-size: 100% auto;
	max-height: 400px;
	overflow: hidden;
	margin-top: -50px;
}

.header {
	.inner {
		margin-bottom: 30px;
	}
	background: #00BAFF;
	color: #fff;
	text-transform: uppercase;
	font-family: courier;
}

.menu {
	font-size: 19px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	li.home a {
		color: #FE5D81;
	}
	li.apply a {
		color: #00629C;
	}
	li.venue a {
		color: #00B0A7;
	}
	li.twitter a {
		color: #00BAFF;
	}
	li.blog a {
		color: #EF474E;
	}
	li.contact a {
		color: #D7A01E;
	}
}

.title {
	margin: 100px 0 40px 0;
}

.title-container {
	background: #fff;
	border-right: 2px solid #00BAFF;
	border-left: 2px solid #00BAFF;
}

.top {
	background: #FE678A;
	padding: 80px 0;
	color: #fff;
}

.middle {
	background: #53AFDE;
	color: #fff;
}

.lower {
	background: #15BBB1;
	color: #fff;
}