.schedules {
	padding-bottom: 60px;
}

.schedule-day {
	margin-top: 40px;
	h3 {
		margin-top: 8px;
	}
}

.schedule-day.bottom {
	margin-bottom: 50px;
}

.schedule {
	list-style: none;
	font-size: 22px;
	line-height: 45px;
}

.navbar-default .navbar-nav > li > a {
	color: #DF343B;
}