.profile {
	margin: 50px 15px 0 15px;
	padding-bottom: 60px;
	h2 {
		padding: 20px 0 5px 0;
	}
  	p {
  		padding: 0 0 20px 0;
  		text-align: center;
  	}	
}

.face {
	width: 180px;
	height: 180px;
	border-radius: 9999px;
	margin: auto;
	background-position: center;
  	background-size: contain;	
  	margin-bottom: 35px;
}

.theo {
	background-image: url(/images/theo-papatheodoros.jpg);
}

.tom {
	background-image: url(/images/tom-chambers.png);
}

.nick {
	background-image: url(/images/nick-rothwell-cropped.jpg);
}

.di {
	background-image: url(/images/di-mainstone-cropped.jpg);
}

.brigitta {
	background-image: url(/images/brigitta-zics-cropped.jpg);
}