.profile {
	margin: 50px 0 0 0;
	h2 {
		padding: 20px;
	}
  	p {
  		padding: 20px;
  		text-align: center;
  	}	
}

.face {
	width: 140px;
	height: 140px;
	border-radius: 9999px;
	margin: auto;
	background-position: center;
  	background-size: contain;	
}

.nick {
	background-image: url(/images/nick-rothwell-cropped.jpg);
}

.di {
	background-image: url(/images/di-mainstone-cropped.jpg);
}

.brigitta {
	background-image: url(/images/brigitta-zics-cropped.jpg);
}